@model IEnumerable<WebApplicationNetLab.ViewModels.EnrollmentDateGroup>

@{
    ViewBag.Title = "Account creation statistic";
}

    <h2>Account creation statistic</h2>
    <table class="table">
        <tr>
            <th>
                Enrollment Date
            </th>
            <th>
                Account
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @item.AccountCount
                </td>
            </tr>
        }
    </table>
